@charset "utf-8";
body {
    font-family: "PingFang SC", "Lantinghei SC", "Helvetica Neue", "\5FAE\8F6F\96C5\9ED1", "PingFangSC-Regular", "Microsoft YaHei", "Hiragino Sans GB", Verdana, Arial, Helvetica, sans-serif !important;
    font-size: 12px;
}
.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}
input::-webkit-search-cancel-button{
  display: none;
}
input::-ms-clear{
  display: none;
  width: 0;
  height: 0;
}
body,
p,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
span,
input,
table,
td,
th,
textarea,
strong,
em {
    margin: 0px;
    padding: 0px;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
    blr: ~"expression(this.onFocus=this.blur())";
}

a:hover {
    text-decoration: none;
}

img {
    border: none;
}

.lt {
    float: left;
}

.rt {
    float: right;
}

label,
input,
select,
img {
    display: inline-block;
    vertical-align: middle;
}

.font-arial {
    font-family: Arial, Helvetica;
}

em,
i {
    font-style: normal;
}

html{
    height: 100%;
    width: 100%;
}
body{
    /*height: 100%;*/
    background: url('img/bg.jpg') no-repeat;
    background-size: cover;
}

/*table css*/
table{
    margin: 0.4rem;
}
table.gridtable {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
}
table.gridtable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}
table.gridtable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}

/*close*/
.close {
    background: #c5cac1;
    color: #7b6868;
    border-radius: 12px;
    line-height: 20px;
    text-align: center;
    height: 20px;
    width: 20px;
    font-size: 18px;
    padding: 1px;
    top: 15px;
    right: 10px;
    position: absolute;
}
/* use cross as close button */
.close::before {
    content: "\2716";
}

/* index.html */
.index{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top:0;
}
.index .index-bg{
    width: 100%;
    /*height: 17.786667rem;*/
    height: 100%;
    position: absolute;
    left: 0;
    top:0;
}
.index .rule,.index .prize{
    font-size: 0.4rem;
    color: #959797;
    position: absolute;
    bottom:1.2rem;
    z-index: 3;
}
.index .rule{
    left: 0.733333rem;
}
.index .prize{
    left: 3.253333rem;
}
.my-prize,.rule-list{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    display: none;
    z-index: 4;
}
.rule-cont,.prize-cont{
    border:0.146667rem solid #e4d8da;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
}
.rule-cont{
    background-color: #fff;
    text-align: center;
    padding: 0.266667rem;
}
.rule01{
    width: 6.733333rem;
    display: block;
}
.rule02{
    width: 6.733333rem;
    display: block;
}
.code{
    width: 2.933333rem;
    margin-top:0.266667rem;
}
.prize-img{
    width: 5.653333rem;
    height: 7.426667rem;
    display: block;
}
.close{
    position: absolute;
    right: -0.4rem;
    top:-0.4rem;
    width: 0.666667rem;
    height: 0.666667rem;
    z-index: 3;
}
.game-start{
    position: absolute;
    right: 1.6rem;
    bottom:3.386667rem;
    font-size: 0.4rem;
    color: #8a1826;
    z-index: 3;
}
.star{
    position: absolute;
    right: 0;
    top:0;
    width: 4.2rem;
    height: 4.2rem;
    animation:move 5s 0s;
    -webkit-animation:move 5s 0s;
    -moz-animation:move 5s 0s;
    -o-animation:move 5s 0s;
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    -o-animation-fill-mode:forwards;
    z-index:2;
}

@-webkit-keyframes move{
    0%{
        right: 0;
        top:0;
        transform: scale(3);
        -moz-transform: scale(3);
        -webkit-transform: scale(3);
        -o-transform: scale(3);
    }
    50%{
        right: 3.333333rem;
        top:5.733333rem;
        transform: scale(4);
        -moz-transform: scale(4);
        -webkit-transform: scale(4);
        -o-transform: scale(4);
    }
    100%{
        right: 0rem;
        top:13.333333rem;
        transform: scale(5);
        -moz-transform: scale(5);
        -webkit-transform: scale(5);
        -o-transform: scale(5);
    }
}

/*game.html*/
.game {
    margin-top: 2rem;
}
.game .header{
    position: absolute;
    right: 0;
    top: 1.3rem;
    background: #fff;
    padding: 4px 12px 4px 9px;
    line-height: 0.66rem;
    font-size: 0.44rem;
    color: #000;
}
.game .header .level-time{
    color: #ae444b;
}
.game .box{
    margin-top: 1.2rem;
}
.game .desc{
    text-align: center;
    font-size: 0.64rem;
    color: #a38f72;
    letter-spacing: 1px;
    margin-bottom: 0.4rem;
}
.game .desc span{
    color: #ae444b;
}
.game .box-img{
    margin: 0 1.88rem;
    position: relative;
}
.img1{
    background: url(img/1.jpg);
}
.img2{
    background: url(img/2.jpg);
}
.img3{
    background: url(img/3.jpg);
}
.game a{
    position: absolute;
    /*border: 1px solid #eee;*/
    width: 3rem;
    height: 3rem;
    font-size: 0.6rem;
    margin: 1px;
}
.game a.active{
    background-color: #f2f2f2;
}
.game .bgpos1{
    background-position: 0 0;
    background-size: 200% 200%;
}
.game .bgpos2{
    background-position: 100% 0;
    background-size: 200% 200%;
}
.game .bgpos3{
    background-position: 0 100%;
    background-size: 200% 200%;
}
.game .bgpos4{
    background-position: 100% 100%;
    background-size: 200% 200%;
}
.game .pos1{
    left: 0rem;
    top: 0rem;
}
.game .pos2{
    top: 0rem;
    left: 3rem;
}
.game .pos3{
    top: 3rem;
    left: 0rem;
}
.game .pos4{
    left: 3rem;
    top: 3rem;
}

#popup-mask{
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    opacity: 0.5;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    display: none;
}
.popup{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -3.08rem;
    margin-top: -3.8rem;
    width: 6rem;
    /*height: 6rem;*/
    background-color: #f8f8f8;
    z-index: 11;
    border-radius: 8px;
    display: none;
    padding-bottom: 0.3rem;
}
.popup .done-title{
    text-align: center;
    color: #fff;
}
.popup .done-title p{
    margin-top: 2rem;
    font-size: 0.88rem;
    letter-spacing: 3px;
}
.popup .done-title span{
    font-size: 0.68rem;
    letter-spacing: 1px;
}
.popup.popup-succ{
    height: 6rem;
    text-align: center;
    background-color: rgba(0,0,0,0.55);
}
.popup.popup-succ img{
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -1.58rem;
    margin-left: -1.3rem;
}
.popup.popup-succ-all{
    height: 6rem;
    text-align: center;
    background-color: rgba(0,0,0,0.55);
}
.popup.popup-succ-all img{
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -1.58rem;
    margin-left: -1.3rem;
}
.popup .title{
    font-size: 0.46rem;
    text-align: center;
    margin: 0.8rem 0.4rem;
}
.popup-btn{
    position: absolute;
    bottom: -2rem;
    line-height: 0.8rem;
    /*background-color: rgb(44, 185, 23);*/
    color: #fff;
    text-align: center;
    font-size: 0.35rem;
    /*margin: 0.6rem 1.2rem;*/
    border-radius: 2px;
    width: 2.59rem;
    height: 1rem;
    background-size: contain;
}
.popup .lottery{
    background-image: url('img/btnluck.png');
}
.popup .go{
    background-image: url('img/btngo.png');
}
.popup .left{
    left: -0.4rem;
}
.popup .center{
    left: 1.7rem;
}
.popup .right{
    right: -0.4rem;
}

.popup.win{
    width: 5.94rem;
    height: 7.72rem;
    background: url(img/win-popup.jpg) no-repeat;
    background-size: contain;
    text-align: center;
    margin-top: -4.5rem;
    padding-top: 0.5rem;
}
.popup.win img{
    width: 3.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -1.75rem;
    margin-top: -1.75rem;
}
.popup.popup-error{
    width: 6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -3.05rem;
    margin-top: -3.6rem;
}
.popup .again{
    background-image: url('img/btnagin.png');
}
.popup.popup-error img{
    width: 6rem;
}
#winmoney{
    display: block;
    letter-spacing: 1px;
    font-size: 0.56rem;
    text-align: center;
    color: #94837d;
}
.popup .win-title{
    font-size: 0.40rem;
    margin: 0.3rem;
}
.popup .win-desc{
    margin: 0.3rem;
    font-size: 0.38rem;
}